<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @page_title %></title>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/application.css">
  </head>
  <body id="<%= @page %>">
    <div id="outer-container">
      <div id="inner-container">
        <header>
          <h1>
            <%= @app_name %>
          </h1>
          <%= erb :search_form %>
        </header>
        <div id="main">
          <%= yield %>
        </div>
        <footer>
          Copyright &copy; <%= Date.today.year %> <%= @app_name %>
        </footer>
      </div>
    </div>
  </body>
</html>
