<h2>
  <% if @results.empty? %>
    No search results found
  <% else %>
    Search results
  <% end %>
  for <q><%= @query %></q>
</h2>
<% unless @results.empty? %>
  <ol>
    <% @results.each do |result| %>
      <li>
        <a href="/movies?id=<%= result["imdbID"] %>&amp;q=<%= URI.escape(@query) %>"><%= result["Title"] %></a>
        (<%= result["Year"] %>)
      </li>
    <% end %>
  </ol>
<% end %>
